#jinja2: lstrip_blocks:"True",trim_blocks:"True"
[Interface]
Address = {{hostvars[inventory_hostname].wireguard_address}}
PrivateKey = {{wg_private_key}}
ListenPort = {{hostvars[inventory_hostname].wireguard_open_port}}
{% if hostvars[inventory_hostname].wireguard_dns is defined %}
DNS = {{hostvars[inventory_hostname].wireguard_dns}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postup is defined %}
PostUp = {{hostvars[inventory_hostname].wireguard_postup}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postdown is defined %}
PostDown = {{hostvars[inventory_hostname].wireguard_postdown}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_save_config is defined %}
SaveConfig = true
{% endif %}

{% for client in wireguard_client_list %}
  {% if client != inventory_hostname %}
    [Peer]
    # {{ client.name }}
    PublicKey = {{wg_client_public_keys_dict[client.name]}}
    AllowedIPs = {{client.wireguard_server_allowed_ip}}
    {% if client.wireguard_persistent_keepalive is defined %}
    PersistentKeepalive = {{client.wireguard_persistent_keepalive}}
    {% endif %}
  {% endif %}
{% endfor %}
